<div id="featured-hotel" class="fh5co-bg-color">
  <div id="fh5co-header">
    <header id="fh5co-header-section">
      <div class="container">
        <div class="nav-header">




          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
          <h1 id="fh5co-logo"><a href="index.html">Luxe</a></h1>
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a class="active" routerLink=""  routerLinkActive="active">Home</a></li>
              <li>

                <a routerLink="/hotel" class="fh5co-sub-ddown" routerLinkActive="active">Hotel</a>
                <ul class="fh5co-sub-menu">
                  <li><a href="#">Luxe Hotel</a></li>
                  <li><a href="#">Deluxe Hotel</a></li>
                  <li>
                    <a href="#" class="fh5co-sub-ddown">King Hotel</a>
                    <ul class="fh5co-sub-menu">
                      <li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">Build</a></li>
                      <li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap" target="_blank">Work</a></li>
                      <li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap" target="_blank">Light</a></li>
                      <li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap" target="_blank">Relic</a></li>
                      <li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap" target="_blank">Display</a></li>
                      <li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap" target="_blank">Sprint</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Five Star Hotel</a></li>
                </ul>
              </li>
              <li><a routerLink="/services"  routerLinkActive="active">Services</a></li>
              <li><a routerLink="/blog"  routerLinkActive="active">Blog</a></li>
              <li><a routerLink="/contact"  routerLinkActive="active">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>Featured Hotels</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="feature-full-1col">
        <div class="image" style="background-image: url(https://www.lottehotel.com/content/dam/lotte-hotel/lotte/samara/accommodation/standard/deluxeroom/181126-4-2000-roo-LTSM.jpg.thumb.768.768.jpg);">
          <div class="descrip text-center">
            <p><small>For as low as</small><span>$100/night</span></p>
          </div>
        </div>
        <div class="desc">
          <h3>Deluxe Hotel</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
          <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
        </div>
      </div>

      <div class="feature-full-2col">
        <div class="f-hotel">
          <div class="image" style="background-image: url(https://www.athenaroyal-cbh.com/wp-content/uploads/sites/32/2019/05/30-ATHENA-ROYAL-BEACH-HOTEL-SUPERIOR-DELUXE-ROOM-960x960.jpg);">
            <div class="descrip text-center">
              <p><small>For as low as</small><span>$99/night</span></p>
            </div>
          </div>
          <div class="desc">
            <h3>Hotel Bora</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo,
              in suscipit urna condimentum sed. </p>
            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
          </div>
        </div>
        <div class="f-hotel">
          <div class="image" style="background-image: url(https://www.e-architect.co.uk/wp-content/uploads/2008/10/burj-al-arab-dubai-3-1.jpg);">
            <div class="descrip text-center">
              <p><small>For as low as</small><span>$99/night</span></p>
            </div>
          </div>
          <div class="desc">
            <h3>D’Morvie</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. </p>
            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
